/*
0. Selectores generales
1.tipografia
2.cabecera

*/

/* 0. selectores generales */

*{
    margin:0;
    padding:0;
       /*Evita que el ancho se sume al padding */
    box-sizing:border-box;
}

body {
  background-color: rgb(255, 241, 228);
}

:root {
  --color-principal: rgb(255, 159, 28);
  --color-acento: rgb(16, 16, 98);
  --color-acento2: rgb(147, 220, 252);
  --color-texto: rgb(17, 39, 56);
  
}

.hide-element {
  display: none;
}

/*1.Tipografias */
h1{
 font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: bold;
  font-size:30px;
  color: var(--color-principal);
}
h2{
    font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size:26px;
  color: var(--color-principal);
  /*margen */
  margin: 0 0 20px 0;
  text-align: center;
}

h3{
     font-family: "Fjalla One", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: light;
  font-size:26px;
  color: var(--color-acento);
}

p{
 font-family: "Fjalla One", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: var(--color-texto);
}

/*2. cabecera */
#cabecera-web{
   
    padding: 10px 20px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.bt-principal{
    font-family: "Fjalla One", sans-serif;
    font-size: 14px;
    color: var(--color-acento);
    background-color: var(--color-acento2);
    text-decoration: none;

    padding: 12px 20px;
    margin-left: 10px;

    display: inline-block;

    transition: 0.3s;
}


.bt-principal:hover{
    background-color: var(--color-acento);
    color: rgb(110, 146, 217);
    transform: scale(1.1);
    padding: 10px 17px 
}

#seccion-destacada{
  padding: 100px 0;

}

iframe{
      display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;
    height: 650px;
}

#alojamiento{
    padding-left: 100px;
    padding-right: 100px;
}

.map-container{
  padding: 50px 80px;
  
}


@media(max-width: 600px) { 
    #cabecera-web{
        flex-direction: column;
    }
    #cabecera-web nav{
        width: 100%; 
    }
    .bt-principal{
        display: block;
        width: 100%;
        text-align: center;
        border-radius: 0;
        border-bottom: 1px solid var(--color-acento2);
    }
    .flex-elements{
      flex-direction: column;
    }

    footer{
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-links{
        flex-direction: column;
        gap: 30px;
    }

}

.flex-elements{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 100px;
    align-items: stretch;
    gap: 20px;
    padding: 20px;

}




.bt-ver-mas{
    font-family: "Inter Tight", sans-serif;
    color: white;
    background-color: var(--color-acento);
    text-decoration: none;

    padding: 10px 18px;
    display: inline-block;
    margin-top: 10px;

    transition: 0.3s;
}

.bt-ver-mas:hover{
    background-color: var(--color-principal);
    color: var(--color-acento);
}

.articulo-index{
  margin: 10px 12px;
  padding: 10px;
  box-shadow: 0 0 5px rgb(112, 73, 1);
      flex: 1;

}
.articulo-index img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.articulo-index h3{
    font-family: "Inter Tight", sans-serif;
    color: var(--color-acento);
    font-size: 25px;

    margin: 10px 0 5px 0;
}

.articulo-index p{
    font-family: "Fjalla One", sans-serif;
    color: var(--color-texto);
    font-size: 16px;

    margin-bottom: 10px;
}

/* FOOTER */

footer{
    background-color: var(--color-acento2);
    padding: 50px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

/* Logo */

.footer-brand img{
    width: 180px;
    height: auto;
}

/* Contenedor de las columnas */

.footer-links{
    display: flex;
    justify-content: space-between;
    gap: 80px;
    flex: 1;
}

/* Títulos */

.footer-links h3{
    font-family: "Fjalla One", sans-serif;
    color: var(--color-acento2);
    font-size: 22px;
    margin-bottom: 15px;
}

/* Quitar puntos de las listas */

.footer-links ul{
    list-style: none;
    padding: 0;
}

/* Enlaces */

.footer-links li{
    margin-bottom: 8px;
    list-style: none;
}

.footer-links a{
    font-family: "Inter Tight", sans-serif;
    color: var(--color-texto);
    text-decoration: none;
    font-size: 16px;
    background-color: white;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
}


/* Efecto al pasar el mouse */

.footer-links a:hover{
    color: var(--color-acento2);
}

.footer-links h3 {
    color: white;
}